@import "tailwindcss";

@theme {
  --color-pm-red: #D42B2B;
  --color-pm-red-dark: #A81E1E;
  --color-pm-red-light: #FFF0F0;
  --color-pm-navy: #0F1A3D;
  --color-pm-navy-md: #1A2A5E;
  --color-pm-bg: #F4F6FB;
}
